{% extends "layouts/index.html" %}

{% block title %}Index{% endblock %}

{% block head %}
{{ parent() }}
<style type="text/css">
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }
</style>
{% endblock %}

{% block content %}

{% verbatim %}
<section id="app" class="vh-100" style="background-color: #3da2c3;height: 100vh;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <p class="mb-2"><span class="h2 me-2">Login</span></p>

                        <div class="form-group">
                            <label>Login</label>
                            <input required v-model="auth.login" type="email" class="form-control"
                                   placeholder="Enter login">
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input required v-model="auth.password" type="password" class="form-control"
                                   placeholder="Password">
                        </div>

                        <button @click.prevent="login" type="submit" class="btn btn-primary">Login</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endverbatim %}


{% endblock %}

{% block scripts %}
{{ parent() }}
<script>
    new Vue({
        el: '#app',
        data: {
            auth: {
                login: '',
                password: '',
            }
        },
        methods: {
            async login() {

                let formData = new FormData();
                formData.append('login', this.auth.login);
                formData.append('password', this.auth.password);

                axios.post('/api/auth/login', formData)
                    .then(res => {
                        if (res)
                            window.location.href = '/'
                        else
                            alert('Auth error')
                    })
                    .catch(e => {
                        alert('Incorrect login or password')
                    })

            }
        }
    })
</script>
{% endblock %}